@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');/*define o uso de uma fonte do repositório do google*/

@font-face{
	font-family: 'FonteLogo';
	src: url(../_fonts/bubblegum-sans-regular.otf);
	
}
/*define uma fonte personalizada pra poder ser usada na página*/
body {
	background-color: #dddddd;
	color: rgba(0,0,0,1);
}
/*cor de fundo e cor da letra de toda a página*/

header#cabecalho {
	border-bottom: 1px #606060 solid;/*borda*/
	height: 150px; /*tamanho do cabeçalho*/
	background: url(../_imagens/glass-logo-peq.jpg) no-repeat 0px 80px; /*define imagem para o cabeçalho, parametro para não repetir e posicionamento*/
}
/*configura o cabeçalho*/
header#cabecalho img#icone {
	position: absolute;
	left: 750px;
	top: 80px;
	;
}
/*configuração da imagem do cabeçalho pra ela ela fique flutuando*/
header#cabecalho h1{
	font-family: 'FonteLogo', sans-serif;
	font-size: 30px;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;
	margin-bottom: 0px;
}
/*configura o h1 do cabeçalho*/

header#cabecalho h2{
	font-family: 'Titillium Web', sans-serif;
	font-size: 15px;
	color: #888888;
	padding: 0px;
	margin-top: 0px;
}

/*Formatação do menu*/
nav#menu {
	display: block; /*blocos podem flutuar pela tela*/
}
/*faz o menu flutuar*/

nav#menu ul {
	list-style: none;/*retirar a marcação de disco da lista*/
	text-transform: uppercase;/*transformar letras em maiuscula*/
	position: absolute; /*a lista passa a ter uma posição aboluta em relação a toda a página podendo ser posicionado*/
	top: -10px;
	left: 270px;
}
/*configura a lista*/

nav#menu li {
	display: inline-block;/*apresenta os itens da lista em uma mesma linha */
	background-color: #dddddd;
	padding: 10px;
	margin: 2px;
	transition: background-color 1s; /*transição da cor de fundo dos itens de menu*/
}
/*configura os itens da lista de menu*/

nav#menu li:hover {
	background-color: #606060;
}
/*configura o efeito do menu ao passar o mouse por cima*/
nav#menu h1 {
	display: none;/*oculta o título do menu*/
}
nav#menu a {
	color: #000000;
	text-decoration: none;
}
/*configura os links do menu para mudar de cor e tirar o sublinhado*/
nav#menu a:hover {
	color: #ffffff;
}
/*==================================*/

div#interface {
	width: 900px; /*largura*/
	background-color: #ffffff;
	margin: -20px auto 0px auto; /*centralizar a interface cima esquerda baixo direita*/
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	padding: 10px; /*afastar o texto da borda da interface*/
	position: relative;
}
/*configura as caracteristicas da interface*/
p {
	text-align: justify;
	text-indent: 50px;
}
/*alinhamento e identação dos parágrafos*/

/*configura a área principal, lateral e rodapé*/
section#corpo{
	display: block;/*tem que definir como bloco pra poder flutuar*/
	width: 500px;
	float: left;/*flutuar do lado esquerdo*/
	border-right: 1px solid #606060; /*cria borda lateral para dividir as sessões*/
	padding-right: 20px; /*borda interna*/
}

aside#lateral{
	display: block;
	width: 350px;
	float: right;/*flutuar do lado direito*/
}

footer#rodape{
	clear: both;/*limpa  a divisão pra ser apresentado na parte de baixo*/
	border-top: 1px solid #606060;
	font-weight: 600
	
}

footer#rodape p{
	text-align: center;
	padding: 0px;
	margin: 0px;
}
footer#rodape a{
	text-decoration: underline;
}

/*formatação de imagens*/
figure.foto-legenda {
	position: relative;
	/*define a posição relativa em relação ao local que foi inserida*/
	border: 8px solid white;
	box-shadow: 1px 1px 4px #000000;/*cria uma sombra em torno da imagem vertical horizontal espalhamento e cor*/
}
/*configura tudo que for referente a image com esta classe*/
figure.foto-legenda img {
	width: 100%;
	height: 100%;
}
/*configura os atributos de imagens com a classe foto-legenda tornando a imagem autoresize de acordo zoom do navegador*/


figure.foto-legenda figcaption {
	opacity: 0;
	position: absolute;
	/*define a posição absoluta em relação a relativa de figure.foto-legenda*/
	top: 0px;
	background-color: rgba(0,0,0,.4);
	color: white;
	width: 100%;
	height: 100%;
	padding: 10px;/*borda interna do objeto*/
	box-sizing: border-box;/*cria um box limitado a borda do objeto pai*/
	transition: opacity 1s;
}
figure.foto-legenda:hover figcaption {
	opacity: 1;
}/*cria um efeito quando o mouse passa por cima do figure*/
/*=========================================*/

